html > * {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heart-beat {
  0%, 10% {
    transform: scale(1);
    opacity: 0.5;
    color: rgb(134, 7, 128);
  }
  45% {
    transform: scale(0.2) rotate(30deg);
    opacity: 0.75;
  }
  50% {
    transform: scale(2) rotate(-35deg);
    opacity: 1;
    color: #9356DC;
  }
  90%, 95% {
    transform: scale(1) rotate(10deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}
@keyframes heart-beat-2 {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.5);
  }
  39% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.9);
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: hide 0.1s linear 4s forwards;
  pointer-events: none;
  z-index: 1;
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 25px solid #a3a3a0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: loading 2s linear 2 forwards, hide 0.1s linear 4s forwards;
  z-index: 2;
  pointer-events: none;
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-color: #4a4a4a transparent #4a4a4a transparent;
  }
  50% {
    border-color: transparent #4a4a4a transparent #4a4a4a;
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-color: #4a4a4a transparent #4a4a4a transparent;
  }
}
@keyframes hide {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
  padding: 25px 0;
}
header a {
  position: absolute;
  left: 10%;
  width: max-content;
  height: max-content;
  color: initial;
}
header a > * {
  font-size: 22px;
}
header img {
  width: auto;
  height: 40px;
}

footer {
  width: 100%;
  height: max-content;
  padding: 50px;
  background-color: rgb(53, 53, 53);
  box-sizing: border-box;
}
footer svg {
  fill: rgb(255, 255, 255);
  width: auto;
  height: 30px;
  margin-bottom: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  margin: 0 0 10px 0;
  list-style-type: none;
  font-size: 24px;
  color: rgb(255, 255, 255);
}
footer ul li a {
  text-decoration: none;
  color: inherit;
}
footer ul li .fa-solid {
  font-size: 20px;
  width: 25px;
  height: auto;
  margin-right: 20px;
}

.card-expanded img {
  width: 100%;
  height: auto;
}
.card-expanded > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(-2%);
  background-color: rgb(246, 246, 246);
}
.card-expanded > div .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 45px;
}
.card-expanded > div .card-title h1 {
  font-style: italic;
  font-size: 38px;
  font-weight: bold;
}
.card-expanded > div .card-title .fa-regular {
  font-size: 34px;
}
.card-expanded > div h5 {
  font-size: 20px;
  font-weight: lighter;
}
.card-expanded > div h5:nth-of-type(1) {
  margin-top: 0;
}
.card-expanded > div h5:not(:nth-of-type(1)) {
  margin-top: 75px;
}
.card-expanded > div h5::after {
  content: "";
  display: block;
  width: 55px;
  height: 5px;
  margin-top: 10px;
  background-color: #99E2D0;
}
.card-expanded > div div.menu-wrapper {
  width: 90%;
  margin: 0 auto;
}
.card-expanded > div div.menu-wrapper menu {
  margin: 0;
  padding: 0;
}
.card-expanded > div div.menu-wrapper menu li {
  display: flex;
  opacity: 0;
  list-style-type: none;
  height: 100px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  cursor: pointer;
  animation: rise 1.5s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  overflow: hidden;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(1) {
  animation-delay: 0.0833333333s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(2) {
  animation-delay: 0.1666666667s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(3) {
  animation-delay: 0.25s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(4) {
  animation-delay: 0.3333333333s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(5) {
  animation-delay: 0.4166666667s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(6) {
  animation-delay: 0.5s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(7) {
  animation-delay: 0.5833333333s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(8) {
  animation-delay: 0.6666666667s;
}
.card-expanded > div div.menu-wrapper menu li:nth-child(9) {
  animation-delay: 0.75s;
}
.card-expanded > div div.menu-wrapper menu li:hover .check-box {
  transform: translateX(-100px);
  transition: 0.5s ease-in-out;
}
.card-expanded > div div.menu-wrapper menu li:hover .price {
  transform: translateX(-100px);
  transition: 0.5s ease-in-out;
}
.card-expanded > div div.menu-wrapper menu li:hover .icon {
  transform: rotate(360deg);
  transition-duration: 0.7s;
}
.card-expanded > div div.menu-wrapper menu li header.card-texts {
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding: 0 0 0 25px;
}
.card-expanded > div div.menu-wrapper menu li header.card-texts h4 {
  font-size: 20px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-expanded > div div.menu-wrapper menu li header.card-texts h6 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-expanded > div div.menu-wrapper menu li .price {
  align-self: center;
  width: 45px;
}
.card-expanded > div div.menu-wrapper menu li .check-box {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100%;
  margin: 0 -100px 0 0;
  background-color: #99E2D0;
  transition: transform 0.1s ease-out;
  pointer-events: none;
}
.card-expanded > div div.menu-wrapper menu li .check-box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  color: #99e2d0;
  border-radius: 50%;
  background-color: white;
}
.card-expanded button {
  align-self: center;
  padding: 15px 80px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  border: none;
  margin: 40px 0 50px 0;
  background: linear-gradient(180deg, rgb(238, 56, 253) 0%, rgb(211, 66, 251) 50%, rgb(165, 105, 238) 100%);
  cursor: pointer;
}

@keyframes slideLeft {
  0% {
    width: 90%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 75%;
  }
}
main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main #location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 234, 234);
  padding: 30px 0;
}
main #location h2 {
  font-size: 24px;
  font-family: sans-serif;
  margin: 0;
}
main #location .fa-solid.fa-location-dot {
  margin-right: 20px;
}
main #book-the-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
}
main #book-the-menu h2 {
  font-size: 32px;
}
main #book-the-menu p {
  font-size: 24px;
  width: 80%;
  text-align: center;
}
main #book-the-menu button {
  background: #9356DC;
  background: linear-gradient(180deg, rgb(238, 56, 253) 0%, rgb(211, 66, 251) 50%, rgb(165, 105, 238) 100%);
  padding: 25px 40px;
  border-radius: 35px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 20px 0 90px 0;
}
main #how-it-works {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
main #how-it-works h2 {
  width: 85%;
}
main #how-it-works ul {
  list-style-type: none;
  padding: 0;
  width: 85%;
}
main #how-it-works ul li {
  position: relative;
  font-size: 24px;
  padding: 40px 20px;
  border-radius: 30px;
  margin-bottom: 35px;
  background-color: rgb(246, 246, 246);
  -webkit-box-shadow: 1px 1px 10px -6px #000000;
  box-shadow: 1px 1px 10px -6px #000000;
  cursor: pointer;
}
main #how-it-works ul li:hover {
  background-color: rgb(245, 237, 255);
}
main #how-it-works ul li:hover .fa-solid {
  color: #9356DC;
}
main #how-it-works ul li::before {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  width: 32px;
  height: 32px;
  left: 0;
  transform: translateX(-50%);
  font-size: 12px;
  border-radius: 50%;
}
main #how-it-works ul li:nth-of-type(1)::before {
  content: "1";
}
main #how-it-works ul li:nth-of-type(2)::before {
  content: "2";
}
main #how-it-works ul li:nth-of-type(3)::before {
  content: "3";
}
main #how-it-works ul li .fa-solid {
  color: grey;
  width: 30px;
  height: auto;
  margin-right: 35px;
  margin-left: 30px;
}
main #restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 246);
}
main #restaurants #restaurants-wrapper {
  width: 90%;
  margin: 0 auto;
}
main #restaurants #restaurants-wrapper h2 {
  font-family: sans-serif;
  align-self: flex-start;
}
main #restaurants #restaurants-wrapper > div {
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin-bottom: 40px;
}
main #restaurants #restaurants-wrapper > div a {
  display: block;
  width: 100%;
  height: max-content;
  color: initial;
  text-decoration: none;
}
main #restaurants #restaurants-wrapper > div a img {
  width: 100%;
  height: auto;
}
main #restaurants #restaurants-wrapper > div .new::before {
  content: "New";
  position: absolute;
  top: 10%;
  right: 5%;
  padding: 10px 30px;
  color: rgb(57, 169, 141);
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  background-color: #99E2D0;
}
main #restaurants #restaurants-wrapper > div .card-text-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
}
main #restaurants #restaurants-wrapper > div .card-text-container div {
  width: max-content;
}
main #restaurants #restaurants-wrapper > div .card-text-container div h4 {
  background-color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}
main #restaurants #restaurants-wrapper > div .card-text-container div h5 {
  font-size: 18px;
  margin: 0;
}
main #restaurants #restaurants-wrapper > div .card-text-container div:nth-of-type(2) {
  display: flex;
  align-items: center;
}
main #restaurants #restaurants-wrapper > div .card-text-container div:nth-of-type(2) .fa {
  font-size: 28px;
}
main #restaurants #restaurants-wrapper > div .card-text-container div:nth-of-type(2) .fa-heart {
  -webkit-text-stroke: 2px #000;
  color: transparent;
  pointer-events: none;
}
main #restaurants #restaurants-wrapper > div .card-text-container div:nth-of-type(2) .heart-like {
  width: 50px;
  height: 50px;
  transform: translateX(100%);
  opacity: 0;
  cursor: pointer;
}
main #restaurants #restaurants-wrapper > div .card-text-container div:nth-of-type(2) .heart-like:checked + .fa-heart {
  color: #9356DC;
  -webkit-text-stroke: unset;
  cursor: pointer;
  animation: 0.5s linear heart-beat-2;
}

/*# sourceMappingURL=main.css.map */
