footer
  width: 100%
  height: max-content
  padding: 50px
  background-color: rgb(53, 53, 53)

  svg
    fill: rgb(255, 255, 255)
    width: auto
    height: 25px

  ul
    margin: 0
    padding: 0

    li
      margin: 0
      list-style-type: none
      font-size: 24px
      color: rgb(255, 255, 255)
