@use '../abstracts/variables'
@use '../abstracts/mixins'

main
  display: flex
  flex-direction: column
  height: 100vh

  #location
    display: flex
    justify-content: center
    align-items: center
    background-color: rgb(234, 234, 234)
    padding: 30px 0

    h2
      font-size: 24px
      font-family: sans-serif
      margin: 0

    .fa-solid.fa-location-dot
      margin-right: 20px

  #book-the-menu
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: rgb(246, 246, 246)

    h2
      font-size: 32px

    p
      font-size: 24px
      width: 80%
      text-align: center

    button
      background: variables.$primary
      @include mixins.button-color
      padding: 25px 40px
      border-radius: 35px
      color: white
      border: none
      cursor: pointer
      font-size: 24px
      margin: 20px 0 90px 0

  #how-it-works
    display: flex
    align-items: center
    flex-direction: column
    padding: 50px 0

    h2
      width: 85%

    ul
      list-style-type: none
      padding: 0
      width: 85%

      li
        position: relative
        font-size: 24px
        padding: 40px 20px
        border-radius: 30px
        margin-bottom: 35px
        background-color: rgb(246, 246, 246)
        -webkit-box-shadow: 1px 1px 10px -6px #000000
        box-shadow: 1px 1px 10px -6px #000000
        cursor: pointer

        @media (max-width: 600px)
          font-size: 4.1vw

        &:hover
          background-color: rgb(245, 237, 255)

        &:hover .fa-solid
          color: variables.$primary

        &::before
          position: absolute
          display: flex
          justify-content: center
          align-items: center
          color: white
          background-color: variables.$primary
          width: 32px
          height: 32px
          top: 50%
          left: 0
          transform: translate(-50%, -50%)
          font-size: 12px
          border-radius: 50%

        &:nth-of-type(1)::before
          content: '1'

        &:nth-of-type(2)::before
          content: '2'

        &:nth-of-type(3)::before
          content: '3'


        .fa-solid
          color: grey
          width: 30px
          height: auto
          margin-right: 35px
          margin-left: 30px

  #restaurants
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: rgb(246, 246, 246)

    #restaurants-wrapper
      width: 90%
      margin: 0 auto

      h2
        font-family: sans-serif
        align-self: flex-start

      & > div
        position: relative
        width: 100%
        height: max-content
        overflow: hidden
        background-color: rgb(255, 255, 255)
        border-radius: 20px
        margin-bottom: 40px

        a
          display: block
          width: 100%
          height: max-content
          color: initial
          text-decoration: none

          img
            width: 100%
            height: auto

        .new::before
          content: 'New'
          position: absolute
          top: 10%
          right: 5%
          padding: 10px 30px
          color: rgb(57, 169, 141)
          border-radius: 5px
          font-size: 24px
          font-weight: bold
          background-color: variables.$tertiary

        .card-text-container
          display: flex
          justify-content: space-between
          padding: 30px
          box-sizing: border-box

          div
            width: max-content

            h4
              background-color: rgb(255, 255, 255)
              font-weight: bold
              font-size: 24px
              margin: 0

            h5
              font-size: 18px
              margin: 0

.heart-container
  display: flex
  align-items: center

  .fa
    font-size: 28px

  .fa-heart
    -webkit-text-stroke: 2px #000
    color: transparent
    pointer-events: none

  .heart-like
    width: 50px
    height: 50px
    transform: translateX(100%)
    opacity: 0
    -webkit-tap-highlight-color: transparent
    tap-highlight-color: transparent
    cursor: pointer

    @media (min-width: 601px)
      &:hover + .fa-heart
        color: variables.$primary
        -webkit-text-stroke: unset
        animation: .5s linear heart-beat-2

  .heart-like:checked + .fa-heart
    color: variables.$primary
    -webkit-text-stroke: unset
    cursor: pointer
    animation: .5s linear heart-beat-2


